<p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 18px; ">
    Nuevo Usuario

</p>
<p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 15px; "><small>Despues de crear un nuevo usuario puede verficar en la opción de consultas</small></p>
<hr>

<div *ngIf="profile$ | async as profile">
    <form [formGroup]="registerUserForm" (ngSubmit)="crearManager()" autocomplete="off" action="index.html" method="post" class="espaciado-page">
        <div>
            <div class="form-group row ">
                <label for="email" class="col-label "  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "></label>
                <div class="col-sm-6 center">
                    <input type="text" class="form-control estilo" id="email" formControlName="email" name="email" placeholder="Email">
                    <div *ngIf="registerUserForm.controls.email.errors" class="espaciado-alert">
                    <p style="text-align: center; font-family: 'Syne Mono', monospace; color: #FF8A80; font-size: 10px;" >Por favor ingrese un correo adecuado</p>
                    </div>
                </div>
            </div>
    
            <div class="form-group row">
                <label for="firstName" class="col-label"  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "></label>
                <div class="col-sm-6 center">
                    <input type="text" class="form-control estilo" id="firstName" formControlName="firstName" name="firstName" placeholder="Nombre">
                    <div  *ngIf="registerUserForm.controls.firstName.errors"  class="espaciado-alert">
                        <p  style="text-align: center; font-family: 'Syne Mono', monospace; color: #FF8A80; font-size: 10px;" >Por favor ingrese el nombre del usuario </p>
                    </div>
                </div>
            </div>
    
            <div class="form-group row">
                <label for="lastName" class="col-label"  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "></label>
                <div class="col-sm-6 center">
                    <input type="text" class="form-control estilo" id="lastName" formControlName="lastName" name="lastName" placeholder="Apellido">
                    <div *ngIf="registerUserForm.controls.lastName.errors" class="espaciado-alert">
                        <p  style="text-align: center; font-family: 'Syne Mono', monospace; color: #FF8A80; font-size: 10px;" >Por favor ingrese el apellido del usuario </p>
                    </div>
                </div>
            </div>
    
            <div class="form-group row ">
                <label for="password" class="col-label"  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "></label>
                <div class="col-sm-6 center">
                    <input type="password" class="form-control estilo" id="password" formControlName="password" name="password" placeholder="Password">
                    <div  *ngIf="registerUserForm.controls.password.errors"  class="espaciado-alert">
                        <p style="text-align: center; font-family: 'Syne Mono', monospace; color: #FF8A80; font-size: 10px;" >Ingrese una contraseña segura: (MAYUSCULA-MINUSCULAS-NÚMEROS-MÍNIMO 8 CARÁCTERES-CARACTER ESPECIAL)</p>
                    </div>
                </div>
            </div>
    
            <div class="form-group row ">
                <label for="role" class="col-label "  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "></label>
                <div class="col-sm-6 center">
                    <select class="custom-select my-1 mr-sm-2 estilo" id="role" formControlName="role" name="role">
    
                        <option selected>Selecciona el tipo de rol que desea crear</option>
                        <option *ngIf="vistaPowerUser(profile.role)">MANAGER</option>
                        <option *ngIf="vistaManager(profile.role)">USER</option>
                        <option *ngIf="vistaManager(profile.role)">WATCHMAN</option>
                        
                    </select>
                    <div *ngIf="registerUserForm.controls.role.errors" class="espaciado-alert">
                        <p style="text-align: center; font-family: 'Syne Mono', monospace; color: #FF8A80; font-size: 10px;" >Por favor ingrese el rol del usuario</p>
                    </div>
                </div>
            </div>
    
            <hr style="background-color: #212121;">
            <br>
            <!-- 
                <div class="form-group row"  *ngIf="vistaManager(profile.role)">
                <label  class="col-label col-sm-2"  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; ">Foto</label>
                <div class="col-sm-4">
                    <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" class="form-control estilo" (change)="onFileSelected($event)">
                    <p class="text-muted" style=" font-family: 'Syne Mono', monospace; font-size: 12px;" >Debe adjuntar una foto siempre y cuando el rol sea MANAGER ó USER</p>
                </div>
                
            </div>
            -->
            
            <div >
                <small *ngIf="registerUserForm.valid" class="form-text colorSecundario" style="text-align: center; font-family: 'Syne Mono', monospace;" >Hey, genial!</small>
                <br>
                <button [disabled]="registerUserForm.invalid" class="btn btn-success mb-2" type="submit" style="font-family: 'Consolas', cursive; font-size: 12px; background-color: #00e17b;">Crear </button>
    
            </div>
            
            <!-- 
                <h1 style="color: white;">{{profile.role}}</h1>
            -->
            
            
    
        </div>
    </form>
</div>
