.estilo{
    font-family: 'Consolas', cursive;
    font-size: 12px;
}

.espaciado-uno{
    padding: 4%;
}

.espaciado-page{
    padding: 5%;
}

.espaciado-alert{
    padding: 1%;
}

.margin-left-form{
    margin-left: 8%;
}
