<p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px; "> 
    Nueva Cita
    
</p> 
<p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "><small>Como role de tipo usuario usted puede solicitar una cita previa, seleccione la fecha mas acorde a su necesidad.</small></p>
<hr>

<div *ngIf="profile$ | async as profile" >

    
    <form [formGroup]="crearAppointmentForm" autocomplete="off" (ngSubmit)="createAppointment()">
        <div class="form-group row ">
            <label for="email" class="col-label "  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "></label>
            <div class="col-sm-6 center">
                <input type="text" class="form-control estilo" id="userId" formControlName="userId" name="userId" value="{{profile.id}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="date" class="col-label "  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "></label>
            <div class="col-sm-6 center">
                <input type="datetime-local" class="form-control estilo" formControlName="date" name="date">
            </div>
        </div>
        <hr>
        <button  [disabled]="crearAppointmentForm.invalid" (click)="test(profile.id)"class="btn btn-success mb-2" type="submit" style="font-family: 'Consolas', cursive; font-size: 12px; background-color: #00e17b;">Crear solicitud </button>
    </form>
</div>