<p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px; "> 
    Elimnar usuario
    
</p> 
<p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "><small>Digite el email del usuario a eliminar, en la sección de consultas puede verlo.</small></p>
<hr>

<div>
    <form class="form-inline">

        <div class="form-group mx-sm-3 mb-2">
          <input type="text" class="form-control" style="font-family: 'Consolas', cursive; font-size: 12px;" placeholder="Correo">
        </div>
        <button type="submit" class="btn btn-danger mb-2" style="font-family: 'Consolas', cursive; font-size: 12px;">Eliminar</button>
    </form>
    
</div>