<p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 18px; "> 
    Eliminar usuario
    
</p> 
<p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 15px; "><small>Digite el email del usuario a eliminar, en la sección de consultas puede verlo.</small></p>
<hr>

<div>
    <form class="form-inline" [formGroup]="deleteUserForm" (ngSubmit)="deleteUser()"  autocomplete="off">

        <div class="col-label-4 center">
          <input type="text" class="form-control" style="font-family: 'Consolas', cursive; font-size: 12px;" placeholder="Correo" id="email" formControlName="email" name="email">
          <hr>
          <p  *ngIf="deleteUserForm.controls.email.errors" style="font-family: 'Syne Mono', monospace; color: #FF8A80; font-size: 10px;" >Ingrese un correo adecuado</p>
          <hr>
          <div class="col-label-4">
                <button [disabled]="deleteUserForm.invalid" type="submit" class="btn btn-danger mb-2" style="font-family: 'Consolas', cursive; font-size: 12px;">Eliminar</button>
            </div>
        
        </div>
        
    </form>
    
</div>