
  <footer class="text-center text-lg-start" style="background-color: #212121; padding: 30px;">  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #212121">
        <a class="text-white" href="https://www.uco.edu.co/Paginas/Home.aspx"> <small><strong>© 2021 Copyright:</strong> Universidad Católica de Oriente </small></a>
        <a  style=" color: #80d8ff; font-family: 'Syne Mono', monospace; padding: 30px;">
            <!--<img src="assets/img/IoT.ico" width="80" alt="" loading="lazy">-->
            <img src="../../../assets/img/startup.svg" width="20" alt="" loading="lazy"><small>IoT:UCO</small>
          </a>
         
    </div>
    
  </footer>