<div class="espaciado-uno" style="background-color: #262626" *ngIf="profile$ | async as profile">
    <div *ngIf="permisoVista(profile.role)" >
        
        <h1 style=" color: #80d8ff; font-family: 'Syne Mono', monospace; text-align: center;">
            Ingreso a Bóveda</h1>
        <!-- 
            <h1 style="color: white;"> {{profile.role}}</h1>
        -->
        
        <div class="image text-center"> <img src="../../../assets/img/boveda.svg" class="rounded" width="100" >
            <div class="espaciado-uno">
                <p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 18px; "> 
                    Abrir Puerta
                    
                </p> 
                <p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 15px; "><small>Puede abrir la puerta de la bóveda haciendo uso de sus credenciales.</small></p>
                
                
                <form  [formGroup]="openDoorForm" (ngSubmit)="nowOpenDoor()" autocomplete="off" action="index.html" method="post" >
                    <!--
                    <div class="form-group row">
                        <label class="col-label col-sm-2"  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; ">Id Usuario</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control estilo" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-label col-sm-2"  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; ">Email</label>
                        <div class="col-sm-6">
                            <input type="email" class="form-control estilo" >
                        </div>
                    </div>
                    -->
                    <hr>
                    <div class="center" ></div>
                    <div class="form-group row">
                        <label for="pin"  class="col-label col-sm-2" style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px;">PIN</label>
                        <div >
                            <input type="number" id="pin" formControlName="pin">
                            <p  *ngIf="openDoorForm.controls.pin.errors"  style="text-align: center; font-family: 'Syne Mono', monospace; color: #FF8A80; font-size: 10px; padding: 5px;" >Ingrese el pin de seguridad (4 digítos)</p>
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label for="image" class="col-label col-sm-2"  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; ">Foto</label>
                        <div>
                            <input id="image" formControlName="image" name="image" type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" class="form-control estilo" (change)="onFileSelected($event)">
                        </div>
                    </div>
                
                    
                    <hr>
                
                    <p class="text-muted" style=" font-family: 'Syne Mono', monospace; ; text-align: center; font-size: 12px;" >¿Eres usuario manager? <br>  Verifica tus credencial en la parte superior izquierda, sección profile. <br> Además, recuerda cambiar tu pin por seguridad</p>
                    <button [disabled]="openDoorForm.invalid" type="submit" class="btn btn-success mb-2 margen" style="font-family: 'Consolas', cursive; font-size: 17px; background-color: #00e17b;" autocomplete="off">Abrir </button>
                    <button [disabled]="openDoorForm.invalid" type="submit" class="btn btn-danger mb-2 margen" style="font-family: 'Consolas', cursive; font-size: 17px; " autocomplete="off" (click)="closeDoor()">Cerrar </button>
                
                </form>
            </div>
        
        </div>
    </div>
        <div *ngIf="notFount(profile.role)" class="image text-center espaciado-uno"> <img src="../../../assets/img/404.svg" class="rounded" width="200px" ></div>
</div>