<div class="espaciado-uno" style="background-color: #262626">

    <h1 style=" color: #80d8ff; font-family: 'Syne Mono', monospace; text-align: center;">
        Administración de la Puerta</h1>

    <div class="image text-center"> <img src="../../../assets/img/door.svg" class="rounded" width="100">
        <div class="espaciado-uno">
            <p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 18px; "> 
                Abrir Puerta
                
            </p> 
            <p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 15px; "><small>Puede abrir la puerta haciendo uso de sus credenciales.</small></p>
            <hr>
            
            
            <form>
                <div class="form-group row">
                    <label class="col-label col-sm-2"  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; ">Id Usuario</label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control estilo" >
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-label col-sm-2"  style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; ">Email</label>
                    <div class="col-sm-6">
                        <input type="email" class="form-control estilo" >
                    </div>
                </div>
                <hr>
                <button class="btn btn-success mb-2" style="font-family: 'Consolas', cursive; font-size: 17px; background-color: #00e17b;" autocomplete="off">Abrir Puerta ahora</button>
            
            
            </form>
        </div>

    </div>
</div>