<div class="container-login100" style="background-color: #262626; padding: 10px; padding-top: 100px; " *ngIf="profile$ | async as profile">
  <div class="jumbotron " style="background-color: #212121; border-radius: 50px;">
    <div>
      <div>
        <div class="image text-center"> <img src="../../../assets/img/profile-user.svg" class="rounded" width="100">
          <p class="forgot text-muted" style=" font-family: 'Syne Mono', monospace; ">
            <small style="font-size: 10px; color: #80d8f8;">Imagen de perfil predeterminada
            </small>
          </p>
        </div>

        <hr style=" border-top: 1px solid #00e17b;">
        <div class="ml-3 w-100">
          <p class="forgot text-muted" style="font-family: 'Syne Mono', monospace;">
            <small>Id:
              <a style="color: #ffffff;">{{ profile.id }}</a>
            </small>
          </p>
          <p class="forgot text-muted" style="font-family: 'Syne Mono', monospace;">
            <small>Correo Electronico:
              <a style="color: #ffffff;">{{ profile.email }}</a>
            </small>
          </p>
          <p class="forgot text-muted" style="font-family: 'Syne Mono', monospace;">
            <small>Rol:
              <a style="color: #ffffff;">{{ profile.role }}
              </a>
            </small>
          </p>
        </div>
        <div *ngIf="vistaManagerActualizarPin(profile.role)">
          <div  class="mt-4 w-100">
            <label  class="col-label col-sm-2 forgot text-muted"  style="font-family: 'Syne Mono', monospace;"><a><small>Image: </small></a></label>
            <div class="col-sm-10">
                <input type="file" capture="camera" accept="image/*" id="cameraInput" name="cameraInput" class="form-control estilo" (change)="onFileSelected($event)" style="font-family: 'Consolas', cursive; font-size: 12px; ">
                <p class="text-muted " style=" font-family: 'Syne Mono', monospace; font-size: 12px; text-align: center;" >---</p>
            </div>
            
          </div>  
        
        <hr style=" border-top: 1px dashed #00e17b;">
        <br>
        <p class="forgot text-muted" style=" font-family: 'Syne Mono', monospace; text-align: center;">
          <small style="font-size: 12px; color: #80d8f8; ">Por seguridad actualice su PIN
          </small>
        </p>
        
        <div >

          <form [formGroup]="updatePinForm" (ngSubmit)="updatePin()">
            <label for="pin"  class="col-label col-sm-2" ></label>
            <input class="center label-text" type="number" id="pin" formControlName="pin" placeholder=" PIN">
            <p  *ngIf="updatePinForm.controls.pin.errors"  style="text-align: center; font-family: 'Syne Mono', monospace; color: #FF8A80; font-size: 10px; padding: 5px;" >Nuevo pin de seguridad(4 digitos)</p>
            <div style="padding-top: 2%;">
              <p class="text-muted" style=" font-family: 'Syne Mono', monospace; ; text-align: center; font-size: 12px;" >Función solo disponible para rol: MANAGER <br>Se aconseja un número conformado por 4 dígitos. </p>
            </div>

            <br>
            <button [disabled]="!updatePinForm.valid" class="btn btn-success mb-2 center" type="submit" style="font-family: 'Consolas', cursive; font-size: 12px; background-color: #00e17b;">Actualizar PIN</button>
          </form>

        
          


        </div>     
        </div>
      </div>
    </div>
  </div>
</div>

