<div class="container-login100" style="background-color: #262626; padding: 30px;" *ngIf="profile$ | async as profile">
    <div class="wrap-login100">
        <div class="container">
            
            <div class="card" style=" padding: 50px;" style="background-color: #262626;" >
                <img src="../../../assets/img/user.jpg" alt="John" style="width:100%" style=" padding: 30px;">
                
                <p style="color: #ffffff; font-family: 'Patrick Hand SC', cursive; ">gdf</p>
                <p style="color: #ffffff; font-family: 'Patrick Hand SC', cursive; ">gjg</p>
                
              </div >
        </div>
    </div>

  </div>
