<p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px; "> 
    Detalles de los citas solicitadas en el momento
    
</p> 

<p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "><small>Lista actual de las citas</small></p>
<hr>
<form >
      <table class=" table-dark table-bordered table table-hover">
        
        <thead>
          <tr>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px; ">Id</th>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px;">Usuario</th>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px;">Fecha</th>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px;">Estado de la Cita</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " >1062312</td>
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " ><strong>Peter Parker</strong></td>
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " ><strong>04/10/2021 11:00 PM</strong></td>
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " ><strong>Pendiente</strong></td>
            
          </tr>
        </tbody>
      </table>
    </form>