<p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px; "> 
    Detalles de los citas solicitadas en el momento
    
</p> 

<p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "><small>Lista actual de las citas</small></p>
<hr>
<form >
      <table class=" table-dark table-bordered table table-hover">
        
        <thead>
          <tr>
            <th class="th-style">Id-Cita</th>
            <th class="th-style">Fecha</th>
            <th class="th-style">Estado de la Cita</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of appointment$ | async">
            <td class="td-style">{{ appointment.id }}</td>
            <td class="td-style"><strong>{{ appointment.date }}</strong></td>
            <td class="td-style"><strong>{{ appointment.status }}</strong></td>
            
          </tr>
        </tbody>
      </table>
    </form>