<p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px; "> 
    Detalles de los usuarios activos en el momento.
    
</p> 

<p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; "><small>Lista actual de los usuarios activos</small></p>
<hr>
<form >
      <table class=" table-dark table-bordered table table-hover">
        
        <thead>
          <tr>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px; ">Id</th>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px;">Nombre</th>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px;">Apellido</th>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px;">Rol</th>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px;">Correo</th>
            <th style=" margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 12px;">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " >1062312</td>
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " ><strong>Peter</strong></td>
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " ><strong>Parker</strong></td>
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " ><strong>POWER_USER</strong></td>
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " ><strong>Spidy@test.com</strong></td>
            <td style=" margin-left: auto; margin-right: auto;color: #ffffff; font-family: 'Consolas', cursive; font-size: 12px; " ><strong>Activo</strong></td>
          </tr>
        </tbody>
      </table>
    </form>