<p style="margin-left: auto; margin-right: auto;color: #00e17b; font-family: 'Consolas', cursive; font-size: 18px; ">
  Detalles de los usuarios activos en el momento
</p>
<p style="color: #ffffff; font-family: 'Consolas', cursive; font-size: 15px; "><small>Lista actual de los usuarios
    activos</small></p>
<hr>
<form>
  <table class=" table-dark table-bordered table table-hover">
    <thead>
      <tr>
        <th class="th-style"> Id</th>
        <th class="th-style"> Nombre</th>
        <th class="th-style"> Apellido</th>
        <th class="th-style"> Rol</th>
        <th class="th-style"> Correo</th>
        <th class="th-style"> Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users$ | async">
        <td class="td-style">{{ user.id }}</td>
        <td class="td-style"><strong>{{ user.firstName }}</strong></td>
        <td class="td-style"><strong>{{ user.lastName }}</strong></td>
        <td class="td-style"><strong>{{ user.role }}</strong></td>
        <td class="td-style"><strong>{{ user.email }}</strong></td>
        <td class="td-style"><strong>{{ user.isActive }}</strong></td>
      </tr>
    </tbody>
  </table>
</form>
