<div class="container-login100" style="background-color: #262626; padding: 10px;">
    <div >
        <h1 class="display-4" style=" color: #80d8ff; font-family: 'Syne Mono', monospace; text-align: center;">Internet de las Cosas</h1>
        <p class="lead" style=" color: #ffffff; font-family: 'Patrick Hand SC', cursive; text-align: center;">Estamos construyendo algo increible.
        </p>
        <div  style="padding: 30px;">
          <p style="text-align: center;"><img src="../../../assets/img/1.svg" width="200" alt="" loading="lazy" ></p>
        </div>
    </div>
</div>
