<div class="container-login100" style="background-color: #262626; padding: 50px;">
  <div class="jumbotron " style="background-color: #212121; border-radius: 50px;">
    <div>
      <h1 style=" color: #80d8ff; font-family: 'Syne Mono', monospace; text-align: center;">
        IoT(Internet of Things)</h1>
      <br>
      <div>
        <p style=" color: #ffffff; font-family: 'Consolas', cursive;">
          <small>
            La conectividad de red y la capacidad de cómputo se extienden a objetos, sensores y artículos de uso diario
            <br />
            que habitualmente no se consideran computadoras permitiendo que estos dispositivos generen, intercambien
            <br />
            y consuman datos con una mínima intervención humana.
          </small>
        </p>
      </div>
      <div style="padding: 30px;">

        <p  style="text-align: center;"><img src="../../../assets/img/test5.svg" width="220" alt="" ></p>
        <br>
        <div class="col text-center">
          <p class="forgot text-muted" style=" font-family: 'Syne Mono', monospace; ; text-align: center;">
            <small>¿Deseas ver más información sobre las generalidades de IoT?
              <a href="https://www.redhat.com/es/topics/internet-of-things/what-is-iot" target="_blank"
                style=" color: #80d8ff;">Click aquí
              </a>
            </small>
          </p>
        </div>

      </div>
    </div>

  </div>
</div>